<div class="category ion-activatable"
    [style.background-color]="content.color"
>
    <h3 class="bird--nowrap">{{ content.name }}</h3>
    
    <ion-ripple-effect></ion-ripple-effect>
    <ion-img  class="category--bird-image-1" src="assets/images/bird_1.svg"></ion-img>
    <ion-img  class="category--bird-image-2" src="assets/images/bird_2.svg"></ion-img>
    <ion-img  class="category--bird-image-3" src="assets/images/bird_3.svg"></ion-img>
    <ion-img  class="category--bird-image-4" src="assets/images/bird_4.svg"></ion-img>
</div>