<div class="comment">

    <div class="bird--header--create">
        <div class="bird--header--create--detail"></div>

        <h1>Criar Comentário</h1>
        <p>Por favor, preencha os campos abaixo:</p>
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

        <div class="bird--input">
            <ion-icon name="person-outline"></ion-icon>
            <input formControlName="personName" type="text" placeholder="Seu nome">
        </div>

        <div class="comment--avatar">
            <ng-container *ngFor="let avatar of listAvatars; let i = index">

                <div class="comment--avatar--item ion-activatable" 
                (click)="formGroup.controls.personAvatarIndex.setValue(i)"
                [style.background-color]="avatar.personColor"
                [class.comment--avatar--item--selected]="formGroup.controls.personAvatarIndex.value === i"
                >
                    <ion-ripple-effect></ion-ripple-effect>
                    <p>{{ avatar.personEmoji }}</p>
                </div>
            </ng-container>
        </div>

        <div class="bird--input no-margin">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <textarea formControlName="message" placeholder="Digite aqui o seu comentário"></textarea>
        </div>

        <div class="comment--buttons">

            <div class="comment--buttons--item ion-activatable">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-back-button text="" [defaultHref]="['/main/categories',categoryId]"></ion-back-button>
            </div>

            <div class="comment--buttons--item full ion-activatable">
                <!-- <ion-ripple-effect></ion-ripple-effect> -->
                <!-- [routerLink]="['/main/categories',categoryId]"  -->
                <button  
                    type="submit"
                    [disabled]="formGroup.status !== 'VALID' || isSendingForm"
                >Criar  ➝</button>
            </div>
        </div>

    </form>
</div>