<div class="category-comments" (scroll)="onScroll($event)">

    <ion-back-button 
        text=""
        defaultHref="/main/categories"
    ></ion-back-button>

    <div 
        [routerLink]="['/main/categories',categoryId, 'comment']"
        class="category-comments--add-item ion-activatable" 
    >
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon src="assets/images/add_button.svg"></ion-icon>
        <p>Adicionar novo item</p>
    </div>
    
    <ng-container *ngFor="let comment of listComments;trackBy: trackById;">
        <bird-comment-item [content]="comment"></bird-comment-item>
    </ng-container>

</div>